// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #15d0b3;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #ffffff;
  --ion-color-primary-tint: #ffffff;

  /** secondary **/
  --ion-color-secondary: #ffffff;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #15d0b3;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #ffffff;
  --ion-color-secondary-tint: #ffffff;

  /** tertiary **/
  --ion-color-tertiary: #ffffff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #ffffff;
  --ion-color-tertiary-tint: #ffffff;

  /** success **/
  --ion-color-success: #ffffff;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #ffffff;
  --ion-color-success-tint: #ffffff;

  /** warning **/
  --ion-color-warning: #ffffff;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #ffffff;
  --ion-color-warning-tint: #ffffff;

  /** danger **/
  --ion-color-danger: #ffffff;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ffffff;
  --ion-color-danger-tint: #ffffff;

  /** dark **/
  --ion-color-dark: #d01541;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #d01541;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #d01541;
  --ion-color-dark-tint: #d01541;

  /** medium **/
  --ion-color-medium: #d01541;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #d01541;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #d01541;
  --ion-color-medium-tint: #d01541;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #ffffff;
  --ion-color-light-tint: #ffffff;
}
