<ion-header>
  <ion-toolbar>
    <ion-title>
      Pagina 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-card class="welcome-card">
      <img src="/assets/appmovimg.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Aplicaciones Moviles</ion-card-subtitle>
        <ion-card-title>Laboratorio de los Sabados</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> En esta clase aprendimos a modificar una aplicacion de Ionic.</p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
